body {
  background-color: #FCF8E5;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana,sans-serif;
}

div#wrapper {
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 115%;
}

p, ul, ol, dl, pre, blockquote, table, form {
  margin: 20px 0;
}

ul, ol {
  padding-left: 30px;
}

p {
  text-shadow: #fff 0 1px 0;
}

a, 
a:visited {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

a:hover {
  border-bottom: 3px solid #333;
}