body {
  background-color: #FCF8E5;
  color: #333;
  font-size: 19px;
  line-height: 1.5;
}

div#wrapper {
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 115%;
}

p, ul, ol, dl, pre, blockquote, table, form {
  margin: 20px 0;
}

ul, ol {
  padding-left: 30px;
}