body {
  font-size: 18px;
  line-height: 1.5;
	font-family: 'Droid Serif', Georgia, serif;
}

h1 {
  font-family: 'Vollkorn', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 200%;
}

h2 {
  font-family: 'Vollkorn', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 160%;
}

h3 {
  font-family: 'Vollkorn', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 125%;
}

p, ul, ol, dl, pre, blockquote, table, form {
  margin: 20px 0;
}

ul, ol {
  padding-left: 30px;
}

a, 
a:visited {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #333;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #333;
}

em {
  text-decoration: italic;
}

strong {
  font-weight: bold;
}

