#post {
  background-color: #E3B561;
}

#post .content {
	width: 850px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	padding: 50px;
}

#post article {
  background-color: #B3C873;
}

#post article .content {
	background-color: #ECF2D9;
	color: #2A2522;
	padding: 0;
	width: 950px;
}

#post header {
	text-align: center;
	padding: 20px 50px 10px;
}

#post header p {
  margin: 0;
}

#post section {
  padding: 10px 50px 50px;
}

#post div.highlight {
  overflow: auto;
  background-color: #F4F9EC;
  line-height: 1.2em;
  margin: 20px 0;
  border: 1px dashed #9CAE64;
}

#post code {
  font-family: consolas, 'lucida console', 'bitstream vera sans mono', 'courier new', monospace;
  font-size: 16px;
}

#post blockquote {
  margin: auto 30px;
}

#post h1 {
  font-size: 250%;
}

#post aside {
  border-top: 1px solid #281F0D;
  background-color: #281F0D;
  color: #CBC7BB;
}

#post aside .content {
  background-color: #3B3127;
  padding: 50px;
  width: 850px; 
}

#post aside a {
  color: #CBC7BB;
  border-bottom: 1px dotted #CBC7BB;
}

#post aside a:hover {
  border-bottom: 1px solid #CBC7BB;
}





#disqus_thread h3 {
  font-size: 225% !important;
}

#disqus_thread a.dsq-brlink {
  display: none;
}

#disqus_thread .dsq-dc-logo {
  display: none; 
} 

#disqus_thread .dsq-options {
  display: none;
}


#post footer {
    border-top: 1px solid #AF8C4B;
    background-color: #E3B561;
    color: #65360D;
}

#post footer .content {
  background-color: #F2E2B9;
  text-align: center;
}

