body#post div.highlight {
  background-color: #F5F2DF;
  font-family: consolas, 'lucida console', 'bitstream vera sans mono', 'courier new', monospace;
  font-size: 16px;
  line-height: 1.2em;
  overflow: auto;
}

body#post div#header {
  text-align: center;
  margin: 30px 0 30px;
}

body#post div#header p {
  margin: 0;
}

body#post h1 {
  font-size: 200%;
}
